altgraph==0.17.5
anyio==4.13.0
certifi==2026.2.25
flet==0.84.0
flet-desktop==0.84.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
ImageIO==2.37.3
lazy-loader==0.5
macholib==1.16.4
msgpack==1.1.2
networkx==3.6.1
numpy==2.4.4
oauthlib==3.3.1
opencv-python==4.13.0.92
packaging==26.0
pillow==12.2.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
repath==0.9.0
scikit-image==0.26.0
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
tifffile==2026.3.3
